<template>
  <div class="q-pa-md">
    <q-table title="Treats" :rows="rows" :columns="columns" row-key="name">
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn
              size="sm"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'expand_less' : 'expand_more'"
            />
          </q-td>
          <q-td v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.value }}
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props">
          <q-td colspan="100%">
            <div class="row" style="gap: 10px">
              <div v-for="(image, index) in props.row.images" :key="index">
                <img :src="image" />
              </div>
            </div>
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { mapActions, mapGetters } from 'vuex';
import { useStore } from './store';
import { Product } from './store/product/state';

interface Column {
  name: string;
  label: string;
  field: string;
  sortable: boolean;
  align?: 'left' | 'right' | 'center';
}

interface Data {
  columns: Column[];
  rows: { [key: string]: any }[];
}

export default defineComponent({
  setup: () => ({
    store: useStore(),
  }),
  data(): Data {
    return {
      columns: [
        {
          field: 'id',
          label: 'ID',
          name: 'id',
          sortable: false,
          align: 'left',
        },
        {
          field: 'title',
          label: 'Title',
          name: 'title',
          sortable: false,
          align: 'left',
        },
        {
          field: 'description',
          label: 'Description',
          name: 'description',
          sortable: false,
          align: 'left',
        },
        {
          field: 'price',
          label: 'Price',
          name: 'price',
          sortable: false,
          align: 'left',
        },
        {
          field: 'discountPercentage',
          label: 'Discount Percentage',
          name: 'discountPercentage',
          sortable: false,
          align: 'left',
        },
        {
          field: 'rating',
          label: 'Rating',
          name: 'rating',
          sortable: false,
          align: 'left',
        },
        {
          field: 'stock',
          label: 'Stock',
          name: 'stock',
          sortable: false,
          align: 'left',
        },
        {
          field: 'brand',
          label: 'Brand',
          name: 'brand',
          sortable: false,
          align: 'left',
        },
        {
          field: 'category',
          label: 'Category',
          name: 'category',
          sortable: false,
          align: 'left',
        },
        {
          field: 'thumbnail',
          label: 'Thumbnail',
          name: 'thumbnail',
          sortable: false,
          align: 'left',
        },
      ],
      rows: [],
    };
  },
  async beforeMount() {
    await this.getProducts();

    this.products.forEach((product: Product) => {
      let row: { [key: string]: any } = {};

      Object.keys(product).forEach((key: string) => {
        row[key] = (product as any)[key];
      });
      row['name'] = product.title;
      this.rows.push(row);
    });
  },
  methods: {
    ...mapActions({
      getProducts: 'productModule/getProducts',
    }),
  },
  computed: {
    ...mapGetters({
      products: 'productModule/getProducts',
    }),
  },
});
</script>
